<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Django App</title>
  </head>
  <body>
    <nav>
      {% if user.is_authenticated %}
      <button><a href="{% url 'accounts:logout' %}">Logout</a></button>
      {% else %}
      <button><a href="{% url 'accounts:login' %}">Login</a></button>|
      <button><a href="{% url 'accounts:signup' %}">Sign Up</a></button>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
