<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Signature</title>
  </head>
  <body>
    <h1>Welcome to E-Signature</h1>
    {% if user.is_authenticated %}
    <p>Logged in as: {{ user.username }}</p>
    <button>
      <a href="{% url 'main:dashboard' %}">Take me to Dashboard</a>
    </button>
    {%else%}
    <p>Click <a href="{% url 'accounts:signup' %}">here</a> to sign up.</p>
    <p>Click <a href="{% url 'accounts:login' %}">here</a> to login.</p>
    {%endif%}
  </body>
</html>
